[scheduling]
    [[dependencies]]
        graph = """
            grab_gcom => build_gcom_ar
            grab_gcom => build_gcom_so
        """

[runtime]

    [[grab_gcom]]
        script = run_py.sh grab_gcom

    [[build_gcom_ar]]
        script = run_py.sh build_gcom_ar

    [[build_gcom_so]]
        script = run_py.sh build_gcom_so
