[scheduling]
    [[dependencies]]
        graph = """
            grab_gcom => build_gcom_ar
            grab_gcom => build_gcom_so
        """

[runtime]

    [[common]]
        [[[job]]]
            batch system = slurm
            execution time limit = PT10M
        [[[directives]]]
            --mem=500
            --ntasks=4
            --export=NONE

    [[grab_gcom]]
        inherit = common
        script = run_py.sh grab_gcom

    [[build_gcom_ar]]
        inherit = common
        script = run_py.sh build_gcom_ar

    [[build_gcom_so]]
        inherit = common
        script = run_py.sh build_gcom_so
